.alice {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80%;
    max-width: 450px;
    z-index: 1;
}

.alice:before {
    content: " ";
    display: block;
    padding-top: 87%;
}

.alice img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}